{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 ftco-animate">
                {% if cart_is_empty %}
                <h3 class="text-center">Your cart is empty</h3>
                <div class="text-center">
                    <a href="{% url 'products:category_list' %}" class="btn btn-primary">Continue Shopping</a>
                </div>
                {% else %}
                <form action="{% url 'order:checkout' user.id %}" class="billing-form" method="POST">
                    {% csrf_token %}
                    <h3 class="mb-4 billing-heading">Customer Details</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-4">  
                                <label for="firstname">First Name*</label>
                                <input type="text" class="form-control" name="firstname" placeholder="Customer Name" required>
                                {% if form.firstname.errors %}
                                <div class="invalid-feedback">{{ form.firstname.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">  
                                <label for="lastname">Last Name (Optional)</label>
                                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                                {% if form.lastname.errors %}
                                <div class="invalid-feedback">{{ form.lastname.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-4">  
                                <label for="country">State / Country</label>
                                <select name="country" id="country" class="form-control">
                                    <option value="Pakistan">Pakistan</option>
                                </select>
                                {% if form.country.errors %}
                                <div class="invalid-feedback">{{ form.country.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">  
                                <label for="streetaddress">Street Address*</label>
                                <input type="text" class="form-control" name="streetaddress" placeholder="House number and street name" required>
                                {% if form.streetaddress.errors %}
                                <div class="invalid-feedback">{{ form.streetaddress.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">  
                                <input type="text" class="form-control" name="apartment" placeholder="Apartment, suite, unit etc: (optional)">
                                {% if form.apartment.errors %}
                                <div class="invalid-feedback">{{ form.apartment.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">  
                                <label for="towncity">Town / City*</label>
                                <input type="text" name="towncity" class="form-control" placeholder="Karachi" required>
                                {% if form.towncity.errors %}
                                <div class="invalid-feedback">{{ form.towncity.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">  
                                <label for="postcodezip">Postcode / ZIP (Optional)</label>
                                <input type="text" name="postcodezip" class="form-control" placeholder="71400">
                                {% if form.postcodezip.errors %}
                                <div class="invalid-feedback">{{ form.postcodezip.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">  
                                <label for="phone">Phone*</label>
                                <input type="text" name="phone" class="form-control" placeholder="0342 9812112" required>
                                {% if form.phone.errors %}
                                <div class="invalid-feedback">{{ form.phone.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">  
                                <label for="emailaddress">Email Address</label>
                                <input type="email" name="emailaddress" class="form-control" placeholder="example@gmail.com">
                                {% if form.emailaddress.errors %}
                                <div class="invalid-feedback">{{ form.emailaddress.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                
                {% endif %}
            </div>
            <div class="col-xl-5">
                <div class="row mt-5 pt-3">
                    <div class="col-md-12 d-flex mb-5">
                        <div class="cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Down Payment Total</h3>
                            <span>Total Items:</span>
                            <span>
                                {% for item in cart_items %}
                                <img src="{{ item.product.photo.url }}" alt="{{ item.product.name }}" style="width: 50px; height: auto;" class="mr-2">
                                {{ item.quantity }} x {{ item.product.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                            <div class="mt-3">  <!-- Added margin top here -->
                                <p class="d-flex">
                                    <span>Total:</span>
                                    <span>{{ subtotal | intcomma:False }} PKR</span>
                                </p>
                                <p class="d-flex">
                                    <span>Delivery:</span>
                                    <span>{{ product_delivery_fee | intcomma:False }} PKR</span>
                                </p>
                            </div>
                            <hr>
                            <p class="d-flex total-price">
                                <b><span>Total:</span>
                                <span>{{ total | intcomma:False }} PKR</span></b>
                            </p>
                            {% if form.non_field_errors %}
                            <div class="text-danger">{{ form.non_field_errors }}</div>
                            {% endif %}
                        </div>
                    </div>                    
                    <div class="col-md-12">
                        <div class="cart-detail p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Installment Method</h3>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-check mb-3"> 
                                        <input type="radio" name="payment_method" value="Installment" class="form-check-input" id="installment" required>
                                        <label class="form-check-label" for="installment">Installment Payment</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary py-3 px-4">Confirm order</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-xl-5 -->
        </div>
    </div>
</section> <!-- .section -->
{% endblock %}
