{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="container">
        <section class="main-section">
            <h1>Our Products</h1>
            <main>
                {% for product in products %}
                <div class="products-card">
                    <a href="{% url 'products:product_detail' product.id %}" class="product-link">
                      <img class="image-product" src="{{ product.photo.url }}" alt="{{product.name}}">
                    </a>
                    <h2 class="product-name">{{product.name}}</h2>
                    <h3 class="price">Rs.{{product.price |intcomma:False }}</h3>
                </div>
                  {% endfor %}
            </main>
        </section>
    </div>
    {% endblock content %}
