{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
    <link rel="stylesheet" href="{% static 'products/CSS/style.css' %}">
    <title>Product list</title>
</head>

<body>
    <div class="container">
        <section class="main-section">
            <h1>Our Products</h1>
            <main>
                {% for category in categories %}
                <div class="products-card">
                    <a href="{% url 'products_list' category.name %}" class="product-link">
                      <img class="image-product" src="{{ category.photo.url }}" alt="{{category.name}}">
                    </a>
                    <p>{{category.category_moto}}</p>
                    <h2 class="product-name">{{category.name}}</h2>
                </div>
                  {% endfor %}
            </main>
        </section>
    </div>
</body>

</html>