{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">
    <section class="main-section">
            {% if not products %}
                <h1>No product available</h1>
                <div class="text-center">
                    <a href="{% url 'products:category_list' %}" class="btn btn-primary">Goto Products</a>
                </div>
            {% endif %}
            <main>
                {% for product in products %}
                <div class="products-card">
                    <a href="{% url 'products:product_detail' product.id %}" class="product-link">
                      <img class="image-product" src="{{ product.photo.url }}" alt="{{product.name}}">
                    </a>
                    <h2 class="product-name">{{product.name}}</h2>
                    <h3 class="price">Rs.{{product.price |intcomma:False }}</h3>
                </div>
                  {% endfor %}
            </main>
        </section>
    </div>
    {% endblock content %}
