{% extends 'products/base.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}


{% block title %}{{product.name}}{% endblock title %}

{% block content %}
    <!-- content -->
    <section class="py-5">
        <div class="container">
            <div class="row gx-5 align-items-center">
                <aside class="col-lg-6">
                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                            src="{{product.photo.url}}" />
                    </div>
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            {{product.name}}
                        </h4>
                        <div class="d-flex flex-row my-3">
                            <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">4.5</span>
                            </div>
                            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{product.inventory}}</span>
                            <span class="text-success ms-2">In stock</span>
                        </div>
                        <div class="mb-3">
                            <span class="h5">Rs.{{product.price |intcomma:False }}</span>
                        </div>
                        <p>
                            {{product.details}}
                        </p>
                    </div>
                </main>
            </div>
        </div>
    </section>

    <!-- Installment Plan Header -->
    <div class="container my-5">
        <h2 class="text-center">Installment Plan</h2>
        <table class="table table-striped table-bordered table-hover mt-4"> <!-- Added mt-4 for margin-top -->
            <thead>
                <tr>
                    <th>Month</th>
                    <th>12 Months</th>
                    <th>9 Months</th>
                    <th>6 Months</th>
                    <th>3 Months</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through each month -->
                {% for month in months %}
                <tr>
                    <td>Month {{ month }}</td>
                    {% if  month < 13 %}
                    <td>Rs. {{ installments.12_months |intcomma:False }}</td>
                    {% endif %}

                    {% if  month < 10 %}
                    <td>Rs. {{ installments.9_months |intcomma:False }}</td>
                    {% endif %}

                    {% if  month < 7 %}
                    <td>Rs. {{ installments.6_months |intcomma:False }}</td>
                    {% endif %}

                    {% if month < 4 %}
                        <td>Rs. {{ installments.3_months |intcomma:False }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <thead>
                <tr>
                    <th>Total in PKR</th>
                    <th>Rs.{{ installments.12_months|multiply:12 |intcomma:False }}</th>
                    <th>Rs.{{ installments.9_months|multiply:9 |intcomma:False}}</th>
                    <th>Rs.{{ installments.6_months|multiply:6 |intcomma:False}}</th>
                    <th>Rs.{{ installments.3_months|multiply:3 |intcomma:False}}</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock content %}